.page-details {
  display: flex;
  flex-direction: column;
  height: 640px;
  justify-content: space-between;
}

.imgPrincipal {
  width: 100vw;
}

.recipe-name{
position: absolute;
width: 147px;
height: 42px;
left: 109.01px;
top: 81px;
font-family: 'Epilogue';
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height: 20px;
text-align: center;
letter-spacing: 0.105em;
text-transform: uppercase;
}

.ingredientes-main{
position: absolute;
top: 160px;
margin: 2px;
}

.ingredients {
height: 85vw;
width: 335px;
border: 1px solid black;
position: absolute;
left: 13px;
top: 56px;
background: white;
font-size: 10px;
word-wrap: break-word;
font-family: 'Epilogue';
font-style: normal;
font-weight: 700;
line-height: 12px;
color: #1A1B1C;
box-sizing: border-box;

}

.instructions-main{
position: absolute;
top: 550px;
margin: 2px;
text-align: justify;
}

.instructions {
box-sizing: border-box;
word-wrap: break-word;
position: absolute;
width: 335px;
height: 200vw;
background: #FFFFFF;
border: 0.554397px solid #B1B1B1;
border-radius: 5.35144px;
left: 13px;
top: 50px;
}

.Video {
position: absolute;
width: 336px;
height: 205.09px;
left: 12px;
top: 911px;
border-radius: 0px;
}