.page-details {
  display: flex;
  flex-direction: column;
  height: 640px;
  justify-content: space-between;
}

.imgPrincipal {
  width: 100vw;
}

.recipe-name {
  font-family: Courier New , Courier , monospace;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  height: 42px;
  left: 109.01px;
  letter-spacing: 0.105em;
  line-height: 20px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 81px;
  width: 147px;
}

.ingredientes-main {
  margin: 2px;
  position: absolute;
  top: 160px;
}

.ingredients {
  background: white;
  border: 1px solid black;
  box-sizing: border-box;
  color: #1a1b1c;
  font-family: Courier New , Courier , monospace;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  height: 85vw;
  left: 13px;
  line-height: 12px;
  position: absolute;
  top: 56px;
  width: 335px;
  word-wrap: break-word;

}

.instructions-main {
  margin: 2px;
  position: absolute;
  text-align: justify;
  top: 550px;
}

.instructions {
  background: white;
  border: 0.554px solid #b1b1b1;
  border-radius: 5.351px;
  box-sizing: border-box;
  height: 200vw;
  left: 13px;
  position: absolute;
  top: 50px;
  width: 335px;
  word-wrap: break-word;
}

.Video {
  border-radius: 0;
  height: 205.09px;
  left: 12px;
  position: absolute;
  top: 911px;
  width: 336px;
}

.sublinha {
  text-decoration: line-through solid black;

}
